asgiref==3.10.0
cfgv==3.4.0
distlib==0.4.0
Django==5.2.7
django-debug-toolbar==6.1.0
django-environ==0.12.0
django-celery-beat==2.8.1
django-celery-results==2.6.0
django-redis==5.4.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-yasg==1.21.11
environs==14.5.0
filelock==3.20.0
identify==2.6.15
inflection==0.5.1
marshmallow==4.1.0
nodeenv==1.9.1
packaging==25.0
platformdirs==4.5.0
pre_commit==4.4.0
psycopg2-binary==2.9.11
PyJWT==2.10.1
python-dotenv==1.2.1
pytz==2025.2
PyYAML==6.0.3
redis==7.0.1
ruff==0.14.4
sqlparse==0.5.3
tzdata==2025.2
uritemplate==4.2.0
virtualenv==20.35.4
django-filter>=23.0
ruff>=0.1.0
